    <div class="container d-flex justify-content-center align-items-center vh-100 container-inicio">
        <div class="row p-4 bg-white shadow">
            <div class="col-md-6">
                <%= image_tag("job.avif", alt:"Imagen a elección", class:"img-fluid")%>
            </div>
            <div class="col-md-6 text-center d-flex align-items-center">
                <a href="/users/sign_in" class="btn btn-lg btn-warning">Ingresar a nuestra intranet</a>
            </div>
        </div>
    </div>
