<div id="<%= dom_id(ofertum) %>" class="card p-3 mb-3">
  <div class="mb-2">
    <strong>Cargo:</strong>
    <%= ofertum.cargo %>
  </div>

  <div class="mb-2">
    <strong>Descripción:</strong>
    <%= ofertum.descripcion %>
  </div>

  <div>
    <strong>Rango Salarial:</strong>
    <%= ofertum.rango %>
  </div>
</div>
